<div class="account_form">
  <div class="row form_body">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="org_code" type="text" ng-model="account.org_code">
          <label for="org_code" ng-class="{active: isSet(account.org_code)}">Organization Code</label>
        </div>
        <div class="input-field col s6">
          <input id="publication_name" type="text" ng-model="account.publication_name">
          <label for="publication_name" ng-class="{active: isSet(account.publication_name)}">Publication Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 input-field">
          <input id="platform_name" type="text" ng-model="account.platform_name">
          <label for="platform_name" ng-class="{active: isSet(account.platform_name)}">Platform Name</label>
        </div>
        <div class="col s6 input-field">
          <input id="copyright" type="text" ng-model="account.copyright">
          <label for="copyright" ng-class="{active: isSet(account.copyright)}">Copyright</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <label>Amp Environment</label>
          <select class="browser-default" ng-model="account.amp_config_id" ng-options="config.id as config.name for config in ampConfigs">
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="facebook_app_id" type="text" ng-model="account.facebook_app_id">
          <label for="facebook_app_id" ng-class="{active: isSet(account.facebook_app_id)}">Facebody App Id</label>
        </div>
        <div class="input-field col s6">
          <input id="facebook_url" type="text" ng-model="account.facebook_url">
          <label for="facebook_url" ng-class="{active: isSet(account.facebook_url)}">Facebook URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="twitter_url" type="text" ng-model="account.twitter_url">
          <label for="twitter_url" ng-class="{active: isSet(account.twitter_url)}">Twitter URL</label>
        </div>
        <div class="input-field col s6">
          <input id="instagram_url" type="text" ng-model="account.instagram_url">
          <label for="instagram_url" ng-class="{active: isSet(account.instagram_url)}">Instagram URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="youtube_url" type="text" ng-model="account.youtube_url">
          <label for="youtube_url" ng-class="{active: isSet(account.youtube_url)}">YouTube URL</label>
        </div>
        <div class="input-field col s6">
          <input id="pinterest_url" type="text" ng-model="account.pinterest_url">
          <label for="pinterest_url" ng-class="{active: isSet(account.pinterest_url)}">Pinterest URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="twitter_handle" type="text" ng-model="account.institution_twitter_handle">
          <label for="twitter_handle" ng-class="{active: isSet(account.institution_twitter_handle)}">Twitter Handle</label>
        </div>
        <div class="input-field col s6">
          <input id="twitter_string" type="text" ng-model="account.institution_twitter_string">
          <label for="twitter_string" ng-class="{active: isSet(account.institution_twitter_string)}">Twitter String</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="default_tickets_link" type="text" ng-model="account.default_tickets_link">
          <label for="default_tickets_link">Default Tickets Link</label>
        </div>
        <div class="input-field col s6">
          <input id="media_byline" type="text" ng-model="account.media_byline">
          <label for="media_byline">Media Byline</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="google_analytics_key" type="text" ng-model="account.google_analytics_key">
          <label for="google_analytics_key" ng-class="{active: isSet(account.google_analytics_key)}">Google Analytics Key</label>
        </div>
        <div class="input-field col s6">
          <input id="google_search_key" type="text" ng-model="account.google_search_key">
          <label for="google_search_key" ng-class="{active: isSet(account.google_search_key)}">Google Search Key</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="dfp_path_prefix" type="text" ng-model="account.dfp_path_prefix">
          <label for="dfp_path_prefix" ng-class="{active: isSet(account.dfp_path_prefix)}">DFP Path Prefix</label>
        </div>
        <div class="input-field col s6">
          <input id="ooyala_ad_set_codes" type="text" ng-model="account.ooyala_ad_set_codes">
          <label for="ooyala_ad_set_codes" ng-class="{active: isSet(account.ooyala_ad_set_codes)}">Ooyala AdSet Codes</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="ooyala_video_player_id" type="text" ng-model="account.ooyala_video_player_id">
          <label for="ooyala_video_player_id" ng-class="{active: isSet(account.ooyala_video_player_id)}">Ooyala Video Player Id</label>
        </div>
        <div class="input-field col s6">
          <input id="ooyala_audio_player_id" type="text" ng-model="account.ooyala_audio_player_id">
          <label for="ooyala_audio_player_id" ng-class="{active: isSet(account.ooyala_audio_player_id)}">Ooyala Audio Player Id</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row submit_row">
    <div class="col s12">
      <a class="waves-effect waves-light btn right" ng-click="saveAccount()">Save</a>
    </div>
  </div>
</div>
