<div class="account_form">
  <div class="row form_body">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="org_code" type="text" ng-model="account.org_code">
          <label for="org_code" ng-class="{active: isSet(account.org_code)}">Organization Code</label>
        </div>
        <div class="input-field col s6">
          <input id="publication_name" type="text" ng-model="account.publication_name">
          <label for="publication_name" ng-class="{active: isSet(account.publication_name)}">Publication Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s6 input-field">
          <input id="platform_name" type="text" ng-model="account.platform_name">
          <label for="platform_name" ng-class="{active: isSet(account.platform_name)}">Platform Name</label>
        </div>
        <div class="col s6 input-field">
          <input id="copyright" type="text" ng-model="account.copyright">
          <label for="copyright" ng-class="{active: isSet(account.copyright)}">Copyright</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="api_key" type="text" ng-model="account.api_key">
          <label for="api_key" ng-class="{active: isSet(account.api_key)}">AMP API Key</label>
        </div>
        <div class="input-field col s6">
          <input id="amp_endpoint_url" type="text" ng-model="account.amp_endpoint_url">
          <label for="amp_endpoint_url" ng-class="{active: isSet(account.amp_endpoint_url)}">AMP Endpoint URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="google_analytics_key" type="text" ng-model="account.google_analytics_key">
          <label for="google_analytics_key" ng-class="{active: isSet(account.google_analytics_key)}">Google Analytics Key</label>
        </div>
        <div class="input-field col s6">
          <input id="google_search_key" type="text" ng-model="account.google_search_key">
          <label for="google_search_key" ng-class="{active: isSet(account.google_search_key)}">Google Search Key</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="dfp_path_prefix" type="text" ng-model="account.dfp_path_prefix">
          <label for="dfp_path_prefix" ng-class="{active: isSet(account.dfp_path_prefix)}">DFP Path Prefix</label>
        </div>
        <div class="input-field col s6">
          <input id="ooyala_ad_set_codes" type="text" ng-model="account.ooyala_ad_set_codes">
          <label for="ooyala_ad_set_codes" ng-class="{active: isSet(account.ooyala_ad_set_codes)}">Ooyala AdSet Codes</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="ooyala_video_player_id" type="text" ng-model="account.ooyala_video_player_id">
          <label for="ooyala_video_player_id" ng-class="{active: isSet(account.ooyala_video_player_id)}">Ooyala Video Player Id</label>
        </div>
        <div class="input-field col s6">
          <input id="ooyala_audio_player_id" type="text" ng-model="account.ooyala_audio_player_id">
          <label for="ooyala_audio_player_id" ng-class="{active: isSet(account.ooyala_audio_player_id)}">Ooyala Audio Player Id</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row submit_row">
    <div class="col s12">
      <a class="waves-effect waves-light btn right" ng-click="saveAccount()">Save</a>
    </div>
  </div>
</div>
