<table class="striped responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization Type</th>
      <th>Organization Code</th>
      <th>Api Key</th>
      <th>Endpoint Url</th>
    </tr>
  </thead>
  <tbody>
    <tr class="account_row" ng-repeat="config in ampConfigs">
      <td ng-bind="config.name"></td>
      <td ng-bind="config.org_type"></td>
      <td ng-bind="config.org_code"></td>
      <td ng-bind="config.api_key"></td>
      <td ng-bind="config.endpoint_url"></td>
      <td>
        <ul>
          <li>
            <a href="" ng-href="/#/amp-configs/{{config.id}}">Edit</a>
          </li>
          <li>
            <a href="" ng-click="deleteAmpConfig(config)">Delete</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
