<table class="striped responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Asset Type</th>
      <th>Version</th>
      <th>S3 URL</th>
      <th>Script Created</th>
      <th>Script Last Modified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="account_row" ng-repeat="assetList in assetLists">
      <td ng-bind="assetList.id"></td>
      <td ng-bind="assetList.assetList_type"></td>
      <td ng-bind="assetList.version"></td>
      <td ng-bind="assetList.url"></td>
      <td ng-bind="assetList.script_created"></td>
      <td ng-bind="assetList.script_last_modified"></td>
      <td>
        <ul>
          <li>
            <a href="" ng-href="/#/asset-lists/{{assetList.id}}">Edit</a>
          </li>
          <li>
            <a href="" ng-click="deleteAssetList(assetList)">Delete</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
