<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-activates="mobile_global_nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/#/" >Dashboard</a></li>
      <li><a href="/#/accounts">Accounts</a></li>
      <li><a href="/#/asset-lists">Asset Lists</a></li>
      <li><a href="/#/assets">Assets</a></li>
    </ul>
    <ul class="side-nav" id="mobile_global_nav">
      <li><a href="/#/" >Dashboard</a></li>
      <li><a href="/#/accounts">Accounts</a></li>
      <li><a href="/#/asset-lists">Asset Lists</a></li>
      <li><a href="/#/assets">Assets</a></li>
    </ul>
  </div>
</nav>
