<div class="edit_account_page">
  <publish-bar item="account"></publish-bar>
  <ul class="collapsible popout" data-collapsible="accordian">
    <li>
      <div class="collapsible-header active">Account Info</div>
      <div class="collapsible-body">
        <account-form account="account" amp-configs="ampConfigs"></account-form>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Assets Lists</div>
      <div class="collapsible-body">
        <div class="row col s12">
          <account-asset-table assets="assets" hidden-assets="accountAssets" is-add-table="true"></account-asset-table>
        </div>
        <div class="row col s12">
          <account-asset-table assets="accountAssets" is-add-table="false"></account-asset-table>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header">Feature Toggles</div>
      <div class="collapsible-body">
        <div class="row col s12">
          <feature-toggles toggles="featureToggles"></feature-toggles>
        </div>
      </div>
    </li>
  </ul>
</div>
