<ul class="collapsible popout" data-collapsible="accordian">
  <li>
    <div class="collapsible-header active">Asset List Info</div>
    <div class="collapsible-body">
      <asset-list-form asset-list="assetList"></asset-list-form>
    </div>
  </li>
  <li>
    <div class="collapsible-header">Assets</div>
    <div class="collapsible-body">
      <div class="row col s12">
        <asset-item-table assets="assets" hidden-assets="listAssets" is-add-table="true"></asset-item-table>
      </div>
      <div class="row col s12">
        <asset-item-table assets="listAssets" is-add-table="false"></asset-item-table>
      </div>
    </div>
  </li>
</ul>
